alloc-profile.pb.gz
/logs/
/measurements/
/metapotentials/
/test/test.jl
/test/testsmearing.jl
.vscode/settings.json
run.jl
/src/dirac/
/src/mpi/mpitest.jl
/src/system/mainrun_mpi.jl
LocalPreferences.toml